<table width="246" border="0" cellspacing="0" cellpadding="5">
    <tr>
        <td width="80" align="right" style="font-size:12px;">新密碼</td>
        <td width="171">
            <input id="password" name="password" class="easyui-textbox" ng-model="password.password" type="password" style="width:171px;">
        </td>
    </tr>
    <tr>
        <td align="right" style="font-size:12px;">確認密碼</td>
        <td>
            <input id="password_A" ng-model="password.password_A" name="password_A" class="easyui-textbox" type="password" style="width:171px;"
                data-options="fontsize:'12px'">
        </td>
    </tr>
    <tr>
        <td style="height:58px">
            <input id="change_btn" type="button" value="確定" ng-click="changePS_btn()"></input>
        </td>
    </tr>
</table>