<button class="button" ng-disabled="tabFlag" ng-click="goToMonthMeal()">月子餐 </button>
<button class="button button2" ng-disabled="tabFlag" ng-click="goToConditionMeal()">調理餐</button>
<button class="button button3" ng-disabled="tabFlag" ng-click="goToNormalMeal()">一般餐</button>

<p>會員編號 : {{UserName}} {{UserNAME}}</p>

<table width="100%" border="0" cellspacing="0" cellpadding="5">
    <tr>
        <td>
            <table width="428" border="0" cellspacing="0" cellpadding="0">
                <tr align="center">
                    <td width="55">
                        <input type="radio" ng-change="onChange()" id="id_input_Edit_Type_0" ng-model="Edit_Type_1" name="Edit_Type_1" value="1">
                    </td>
                    <td width="55">
                        <input type="radio" ng-change="onChange()" id="id_input_Edit_Type_1" ng-model="Edit_Type_1" name="Edit_Type_1" value="2">
                    </td>
                    <td width="109">
                        <input type="radio" ng-change="onChange()" id="id_input_Edit_Type_2" ng-model="Edit_Type_1" name="Edit_Type_1" value="3">
                    </td>
                    <td width="109">
                        <input type="radio" ng-change="onChange()" id="id_input_Edit_Type_5" ng-model="Edit_Type_1" name="Edit_Type_1" value="6">
                    </td>
                    <td width="100">
                        <input type="radio" ng-change="onChange()" id="id_input_Edit_Type_4" ng-model="Edit_Type_1" name="Edit_Type_1" value="5">
                    </td>
                    <td width="109">
                        <input type="radio" ng-change="onChange()" id="id_input_Edit_Type_3" ng-model="Edit_Type_1" name="Edit_Type_1" value="4">
                    </td>
                </tr>
                <tr align="left">
                    <td>
                        <input type="button" id="a_Link_Save_1" ng-click="new()" value="新增" class="easyui-linkbutton" disabled/>
                    </td>
                    <td>
                        <input type="button" id="a_Link_Save_2" ng-click="delete()" value="刪除" class="easyui-linkbutton" disabled>
                    </td>
                    <td>
                        <input type="button" id="a_Link_Save_3" ng-click="edit_join()" value="修改(加入)" class="easyui-linkbutton" disabled>
                    </td>
                    <td>
                        <input type="button" id="a_Link_Save_6" ng-click="edit_cancle()" value="修改(取消)" class="easyui-linkbutton" disabled>
                    </td>
                    <td>
                        <input type="button" id="a_Link_Save_5" ng-click="edit_overwrite()" value="修改(覆蓋)" class="easyui-linkbutton" disabled>
                    </td>
                    <td align="right">
                        <input type="button" id="a_Link_Save_4" ng-click="show_data()" value="查看輸入資料" class="easyui-linkbutton" disabled>
                    </td>
                </tr>
            </table>

            <!-- <input type="checkbox" type="hidden" name="month_calendar_morning" ng-model="cb_morningFalg" />早 -->
            <!-- <h2 ng-if="Edit_Type_1 === '4' || Edit_Type_1 === '5'">總月曆</h2>
            <div ng-if="Edit_Type_1 === '4' || Edit_Type_1 === '5'" id="month_calendar"></div> -->
            <p ng-if="Edit_Type_1 === '4' || Edit_Type_1 === '5'">總月曆 : <input type="text" id="month_calendar"><input ng-if="Edit_Type_1 === '5'" type="button" id="getMealData" ng-click="getMealData()" value="帶入資料"></p>            
            <!-- <div ng-if="Edit_Type_1 === '5'" id="month_calendar"></div> -->
            
            <p style="margin:3px;">早</p>
            <div id="month_calendar_morning"></div>
            <!-- <input type="checkbox" type="hidden" name="month_calendar_noon" ng-model="cb_noonFalg" />午 -->
            <p style="margin:3px;">午</p>
            <div id="month_calendar_noon"></div>
            <!-- <input type="checkbox" type="hidden" name="month_calendar_night" ng-model="cb_nightFalg" />晚 -->
            <p style="margin:3px;">晚</p>
            <div id="month_calendar_night"></div>

            <table width="428" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="91" height="10"></td>
                    <td width="21"></td>
                    <td width="90"></td>
                    <td width="23"></td>
                    <td width="90"></td>
                    <td width="23"></td>
                    <td width="90"></td>
                </tr>
                <tr align="right">
                    <td align="left">病理種類：</td>
                    <td colspan="6" align="right">
                        <input id="id_input_Meal_Info_Member_MealXSickType" name="Member_MealXSickType" ng-model="mealForMember.meal2sicktype" class="easyui-textbox"
                            type="text" style="width:330px; height:28px;" value="">
                    </td>
                </tr>
                <tr>
                    <td height="10"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr align="right">
                    <td align="left">總餐數：</td>
                    <td>早</td>
                    <td>
                        <input id="id_input_Meal_Info_Member_MealXA" ng-change="delay(countMeal, 1000)" name="Member_MealXA" class="easyui-textbox" type="number" style="width:85px; height:28px;"
                            ng-model="mealForMember.meal2a" value="">
                        <input id="id_input_Meal_Info_Member_MealXACOK" name="Member_MealXACOK" type="hidden" value="">
                        <input id="id_input_Meal_Info_Member_MealXASelect" ng-model="mealForMember.meal1a" name="Member_MealXASelect" type="hidden">
                    </td>
                    <td>午</td>
                    <td>
                        <input id="id_input_Meal_Info_Member_MealXB" ng-change="delay(countMeal, 1000)" name="Member_MealXB" class="easyui-textbox" type="number" style="width:85px; height:28px;"
                            ng-model="mealForMember.meal2b" value="">
                        <input id="id_input_Meal_Info_Member_MealXBCOK" name="Member_MealXBCOK" type="hidden" value="">
                        <input id="id_input_Meal_Info_Member_MealXBSelect" name="Member_MealXBSelect" type="hidden">
                    </td>
                    <td>晚</td>
                    <td>
                        <input id="id_input_Meal_Info_Member_MealXC" ng-change="delay(countMeal, 1000)" name="Member_MealXC" class="easyui-textbox" type="number" style="width:85px; height:28px;"
                            ng-model="mealForMember.meal2c" value="">
                        <input id="id_input_Meal_Info_Member_MealXCCOK" name="Member_MealXCCOK" type="hidden" value="">
                        <input id="id_input_Meal_Info_Member_MealXCSelect" name="Member_MealXCSelect" type="hidden">
                    </td>
                </tr>
                <tr>
                    <td height="10"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr align="right">
                    <td align="left">剩餘餐數：</td>
                    <td>早</td>
                    <td>
                        <input id="id_input_Meal_Info_Member_MealXARemain" ng-model="MealXARemain" name="Member_MealXRemain"
                            class="easyui-textbox" type="text" style="width:85px; height:28px;" readonly>
                    </td>
                    <td>午</td>
                    <td>
                        <input id="id_input_Meal_Info_Member_MealXBRemain" ng-model="MealXBRemain" name="Member_MealXRemain"
                            class="easyui-textbox" type="text" style="width:85px; height:28px;" readonly>
                    </td>
                    <td>晚</td>
                    <td>
                        <input id="id_input_Meal_Info_Member_MealXCRemain" ng-model="MealXCRemain" name="Member_MealXRemain"
                            class="easyui-textbox" type="text" style="width:85px; height:28px;" readonly>
                    </td>
                </tr>
                <tr>
                    <td height="10"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <input type="button" ng-disabled="loginTypeReadonly" value="儲存" ng-click="saveMeal()" class="easyui-linkbutton" style="width:65px;">
                    </td>
                    <td>
                        <!-- <input type="button" ng-disabled="loginTypeReadonly" id="a_Link_Save_1" ng-click="new()" value="新增" class="easyui-linkbutton"/> -->
                    </td>
                    <td align="right">
                        <input type="button" ng-disabled="loginTypeReadonly" value="清空重填" ng-click="clearAll()" class="easyui-linkbutton" style="width:85px;">
                    </td>
                </tr>
            </table>
        </td>

        <td>
            <table width="870" border="0" cellspacing="0" cellpadding="0" ng-if="Edit_Type_1 === '7'">
                <tr>
                    <td>
                        <textarea id="txt_Request_Search" readonly style="width:100%;border-style:none; border-width:0px;height:700px;font-size:18px;"></textarea>
                    </td>
                </tr>
            </table>

            <table width="870" border="0" cellspacing="0" cellpadding="0" ng-if="Edit_Type_1 === '2' || Edit_Type_1 === '3' || Edit_Type_1 === '6'">
                <tr>
                    <td bgcolor="#FFEE99">
                        <table width="870" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="290" height="20"></td>
                                <td width="290" height="20"></td>
                                <td width="290" height="20"></td>
                            </tr>
                            <tr valign="top">
                                <td>
                                    <table width="290" border="0" cellspacing="0" cellpadding="5">
                                        <tr>
                                            <td width="55" align="right" style="font-size:12px;">數量</td>
                                            <td width="215">
                                                <input id="id_input_Meal_Info_Meal_A_Meal01" name="Meal_A_Meal01" class="easyui-textbox" ng-model="meallistA.meal01" type="text"
                                                    style="width:215px;" data-options="fontsize:'12px'">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" style="font-size:12px;">手機</td>
                                            <td>
                                                <input id="id_input_Meal_Info_Meal_A_Meal02" name="Meal_A_Meal02" class="easyui-textbox" ng-model="meallistA.meal02" type="text"
                                                    style="width:215px;" data-options="fontsize:'12px'">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" style="font-size:12px;">地址</td>
                                            <td>
                                                <input id="id_input_Meal_Info_Meal_A_Meal03" name="Meal_A_Meal03" class="easyui-textbox" ng-change="delay(ChkAddress_onChange, 1000)"
                                                    ng-model="meallistA.meal03" type="text" style="width:215px;" data-options="fontsize:'12px'">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right">
                                                <span style="font-size:12px;">路線</span>
                                            </td>
                                            <td>
                                                <input id="id_input_Meal_Info_Meal_A_Meal04" name="Meal_A_Meal04" class="easyui-textbox" ng-model="meallistA.meal04" type="text"
                                                    style="width:215px;" data-options="fontsize:'12px',chkfieldid:'id_input_Meal_Info_Meal_A_Meal03',onChange:ChkRoute_onChange,url:'/info/normaldb/selecttable.jsp?fieldname=ID,RouteNumber,Address&tablename=Route&where=Flag=9&orderby=RouteNumber'">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" style="font-size:12px;">調理內容</td>
                                            <td>
                                                <input id="id_input_Meal_Info_Meal_A_Meal05" name="Meal_A_Meal05" class="easyui-textbox" ng-model="meallistA.meal05" type="text"
                                                    style="width:215px;" data-options="fontsize:'12px'">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" style="font-size:12px;">禁忌</td>
                                            <td>
                                                <input id="Meal_A_Meal06" name="Meal_A_Meal06" class="easyui-combotree" type="text" style="width:215px;">
                                            </td>
                                        </tr>
                                    </table>
                                    <div id="div_A" style="position:relative;font-weight:bold;left:8px;top:-198px;width:30px;">早
                                        <br>
                                        <a id="div_DelA" href="javascript:void(0)" class="easyui-linkbutton" style="display:none" onClick="SaveMealForm('A');">刪
                                            <br>除</a>
                                    </div>
                                </td>
                                <td>
                                    <table width="290" border="0" cellspacing="0" cellpadding="5">
                                        <tr>
                                            <td width="55" align="right">
                                                <span style="font-size:12px;">加減</span>
                                            </td>
                                            <td>
                                                <input id="Meal_A_Meal07" name="Meal_A_Meal07" class="easyui-combobox" type="text" style="width:215px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right">
                                                <span style="font-size:12px;">換飲</span>
                                            </td>
                                            <td width="215">
                                                <input id="Meal_A_Meal08" name="Meal_A_Meal08" class="easyui-combobox" type="text" style="width:215px;">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table width="290" border="0" cellspacing="0" cellpadding="5">
                                        <tr>
                                            <td width="55" align="right" style="font-size:12px;">收款</td>
                                            <td width="215" style="font-size:12px;">
                                                <input id="id_input_Meal_Info_Meal_A_Meal09" name="Meal_A_Meal09" type="checkbox" ng-model="meallistA.meal09" ng-true-value="'收款'"
                                                    ng-false-value="''" value="收款"> 現金
                                                <input id="id_input_Meal_Info_Meal_A_Meal10" name="Meal_A_Meal10" class="easyui-textbox" type="text" style="width:130px;"
                                                    ng-model="meallistA.meal10" data-options="fontsize:'12px'">元
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" valign="top">
                                                <div style="padding-top:3px;font-size:12px;">備註</div>
                                            </td>
                                            <td style="font-size:12px;">
                                                <input id="id_input_Meal_Info_Meal_A_Meal11" name="Meal_A_Meal11" type="checkbox" ng-model="meallistA.meal11" ng-true-value="'提前到'"
                                                    ng-false-value="''" value="提前到"> 提前到
                                                <input id="id_input_Meal_Info_Meal_A_Meal12" name="Meal_A_Meal12" class="easyui-textbox" type="text" style="width:57px;"
                                                    ng-model="meallistA.meal12" data-options="fontsize:'12px'">:
                                                <input id="id_input_Meal_Info_Meal_A_Meal13" name="Meal_A_Meal13" class="easyui-textbox" type="text" style="width:57px;"
                                                    ng-model="meallistA.meal13" data-options="fontsize:'12px'">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td style="font-size:12px;">
                                                <input id="id_input_Meal_Info_Meal_A_Meal14" name="Meal_A_Meal14" type="checkbox" ng-model="meallistA.meal14" ng-true-value="'放警衛室'"
                                                    ng-false-value="''" value="放警衛室"> 放警衛室
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <input id="id_input_Meal_Info_Meal_A_Meal15" name="Meal_A_Meal15" class="easyui-textbox" ng-model="meallistA.meal15" type="text"
                                                    style="width:215px; height:76px;" data-options="multiline:true">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <table width="870" border="0" cellspacing="0" cellpadding="0" ng-if="Edit_Type_1 === '4' || Edit_Type_1 === '5' || Edit_Type_1 === '1'">
                <tr>
                    <td bgcolor="#FFEE99">
                        <table width="870" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="290" height="20"></td>
                                <td width="290" height="20"></td>
                                <td width="290" height="20"></td>
                            </tr>
                            <tr valign="top">
                                <td>
                                    <table width="290" border="0" cellspacing="0" cellpadding="5">
                                        <tr>
                                            <td width="55" align="right" style="font-size:12px;">數量</td>
                                            <td width="215">
                                                <input id="id_input_Meal_Info_Meal_A_Meal01" name="Meal_A_Meal01" class="easyui-textbox" ng-model="meallistA.meal01" type="text"
                                                    style="width:215px;" data-options="fontsize:'12px'">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" style="font-size:12px;">手機</td>
                                            <td>
                                                <input id="id_input_Meal_Info_Meal_A_Meal02" name="Meal_A_Meal02" class="easyui-textbox" ng-model="meallistA.meal02" type="text"
                                                    style="width:215px;" data-options="fontsize:'12px'">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" style="font-size:12px;">地址</td>
                                            <td>
                                                <input id="id_input_Meal_Info_Meal_A_Meal03" name="Meal_A_Meal03" class="easyui-textbox" ng-change="delay(ChkAddress_onChange, 1000)"
                                                    ng-model="meallistA.meal03" type="text" style="width:215px;" data-options="fontsize:'12px'">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right">
                                                <span style="font-size:12px;">路線</span>
                                            </td>
                                            <td>
                                                <input id="id_input_Meal_Info_Meal_A_Meal04" name="Meal_A_Meal04" class="easyui-textbox" ng-model="meallistA.meal04" type="text"
                                                    style="width:215px;" data-options="fontsize:'12px',chkfieldid:'id_input_Meal_Info_Meal_A_Meal03',onChange:ChkRoute_onChange,url:'/info/normaldb/selecttable.jsp?fieldname=ID,RouteNumber,Address&tablename=Route&where=Flag=9&orderby=RouteNumber'">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" style="font-size:12px;">調理內容</td>
                                            <td>
                                                <input id="id_input_Meal_Info_Meal_A_Meal05" name="Meal_A_Meal05" class="easyui-textbox" ng-model="meallistA.meal05" type="text"
                                                    style="width:215px;" data-options="fontsize:'12px'">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" style="font-size:12px;">禁忌</td>
                                            <td>
                                                <input id="Meal_A_Meal06" name="Meal_A_Meal06" class="easyui-combotree" type="text" style="width:215px;">
                                            </td>
                                        </tr>
                                    </table>
                                    <div id="div_A" style="position:relative;font-weight:bold;left:8px;top:-198px;width:30px;">早
                                        <br>
                                        <a id="div_DelA" href="javascript:void(0)" class="easyui-linkbutton" style="display:none" onClick="SaveMealForm('A');">刪
                                            <br>除</a>
                                    </div>
                                </td>
                                <td>
                                    <table width="290" border="0" cellspacing="0" cellpadding="5">
                                        <tr>
                                            <td width="55" align="right">
                                                <span style="font-size:12px;">加減</span>
                                            </td>
                                            <td>
                                                <input id="Meal_A_Meal07" name="Meal_A_Meal07" class="easyui-combobox" type="text" style="width:215px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right">
                                                <span style="font-size:12px;">換飲</span>
                                            </td>
                                            <td width="215">
                                                <input id="Meal_A_Meal08" name="Meal_A_Meal08" class="easyui-combobox" type="text" style="width:215px;">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table width="290" border="0" cellspacing="0" cellpadding="5">
                                        <tr>
                                            <td width="55" align="right" style="font-size:12px;">收款</td>
                                            <td width="215" style="font-size:12px;">
                                                <input id="id_input_Meal_Info_Meal_A_Meal09" name="Meal_A_Meal09" type="checkbox" ng-model="meallistA.meal09" ng-true-value="'收款'"
                                                    ng-false-value="''" value="收款"> 現金
                                                <input id="id_input_Meal_Info_Meal_A_Meal10" name="Meal_A_Meal10" class="easyui-textbox" type="text" style="width:130px;"
                                                    ng-model="meallistA.meal10" data-options="fontsize:'12px'">元
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" valign="top">
                                                <div style="padding-top:3px;font-size:12px;">備註</div>
                                            </td>
                                            <td style="font-size:12px;">
                                                <input id="id_input_Meal_Info_Meal_A_Meal11" name="Meal_A_Meal11" type="checkbox" ng-model="meallistA.meal11" ng-true-value="'提前到'"
                                                    ng-false-value="''" value="提前到"> 提前到
                                                <input id="id_input_Meal_Info_Meal_A_Meal12" name="Meal_A_Meal12" class="easyui-textbox" type="text" style="width:57px;"
                                                    ng-model="meallistA.meal12" data-options="fontsize:'12px'">:
                                                <input id="id_input_Meal_Info_Meal_A_Meal13" name="Meal_A_Meal13" class="easyui-textbox" type="text" style="width:57px;"
                                                    ng-model="meallistA.meal13" data-options="fontsize:'12px'">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td style="font-size:12px;">
                                                <input id="id_input_Meal_Info_Meal_A_Meal14" name="Meal_A_Meal14" type="checkbox" ng-model="meallistA.meal14" ng-true-value="'放警衛室'"
                                                    ng-false-value="''" value="放警衛室"> 放警衛室
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <input id="id_input_Meal_Info_Meal_A_Meal15" name="Meal_A_Meal15" class="easyui-textbox" ng-model="meallistA.meal15" type="text"
                                                    style="width:215px; height:76px;" data-options="multiline:true">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td id="td_B" bgcolor="#F0BBFF">
                        <table width="870" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="290" height="20"></td>
                                <td width="290" height="20"></td>
                                <td width="290" height="20"></td>
                            </tr>
                            <tr valign="top">
                                <td>
                                    <table width="290" border="0" cellspacing="0" cellpadding="5">
                                        <tr>
                                            <td width="55" align="right" style="font-size:12px;">數量</td>
                                            <td width="215">
                                                <input id="id_input_Meal_Info_Meal_B_Meal01" name="Meal_B_Meal01" class="easyui-textbox" ng-model="meallistB.meal01" type="text"
                                                    style="width:215px;" data-options="fontsize:'12px'">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" style="font-size:12px;">手機</td>
                                            <td>
                                                <input id="id_input_Meal_Info_Meal_B_Meal02" name="Meal_B_Meal02" class="easyui-textbox" ng-model="meallistB.meal02" type="text"
                                                    style="width:215px;" data-options="fontsize:'12px'">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" style="font-size:12px;">地址</td>
                                            <td>
                                                <input id="id_input_Meal_Info_Meal_B_Meal03" name="Meal_B_Meal03" class="easyui-textbox" ng-change="delay(ChkAddress_onChange, 1000)"
                                                    ng-model="meallistB.meal03" type="text" style="width:215px;" data-options="fontsize:'12px'">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right">
                                                <span style="font-size:12px;">路線</span>
                                            </td>
                                            <td>
                                                <input id="id_input_Meal_Info_Meal_B_Meal04" name="Meal_B_Meal04" class="easyui-textbox" ng-model="meallistB.meal04" type="text"
                                                    style="width:215px;" data-options="fontsize:'12px',chkfieldid:'id_input_Meal_Info_Meal_B_Meal03',onChange:ChkRoute_onChange,url:'/info/normaldb/selecttable.jsp?fieldname=ID,RouteNumber,Address&tablename=Route&where=Flag=9&orderby=RouteNumber'">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" style="font-size:12px;">調理內容</td>
                                            <td>
                                                <input id="id_input_Meal_Info_Meal_B_Meal05" name="Meal_B_Meal05" class="easyui-textbox" ng-model="meallistB.meal05" type="text"
                                                    style="width:215px;" data-options="fontsize:'12px'">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" style="font-size:12px;">禁忌</td>
                                            <td>
                                                <input id="Meal_B_Meal06" name="Meal_B_Meal06" class="easyui-combotree" type="text" style="width:215px;">
                                            </td>
                                        </tr>
                                    </table>
                                    <div style="position:relative;font-weight:bold;left:8px;top:-198px;width:30px;">午
                                        <br>
                                        <a id="div_DelB" href="javascript:void(0)" class="easyui-linkbutton" style="display:none" onClick="SaveMealForm('B');">刪
                                            <br>除</a>
                                    </div>
                                </td>
                                <td>
                                    <table width="290" border="0" cellspacing="0" cellpadding="5">
                                        <tr>
                                            <td width="55" align="right">
                                                <span style="font-size:12px;">加減</span>
                                            </td>
                                            <td>
                                                <input id="Meal_B_Meal07" name="Meal_B_Meal07" class="easyui-combobox" type="text" style="width:215px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right">
                                                <span style="font-size:12px;">換飲</span>
                                            </td>
                                            <td width="215">
                                                <input id="Meal_B_Meal08" name="Meal_B_Meal08" class="easyui-combobox" type="text" style="width:215px;">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table width="290" border="0" cellspacing="0" cellpadding="5">
                                        <tr>
                                            <td width="55" align="right" style="font-size:12px;">收款</td>
                                            <td width="215" style="font-size:12px;">
                                                <input id="id_input_Meal_Info_Meal_B_Meal09" name="Meal_B_Meal09" type="checkbox" ng-model="meallistB.meal09" ng-true-value="'收款'"
                                                    ng-false-value="''" value="收款"> 現金
                                                <input id="id_input_Meal_Info_Meal_B_Meal10" name="Meal_B_Meal10" class="easyui-textbox" type="text" style="width:130px;"
                                                    ng-model="meallistB.meal10" data-options="fontsize:'12px'"> 元
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" valign="top">
                                                <div style="padding-top:3px;font-size:12px;">備註</div>
                                            </td>
                                            <td style="font-size:12px;">
                                                <input id="id_input_Meal_Info_Meal_B_Meal11" name="Meal_B_Meal11" type="checkbox" ng-model="meallistB.meal11" ng-true-value="'提前到'"
                                                    ng-false-value="''" value="提前到"> 提前到
                                                <input id="id_input_Meal_Info_Meal_B_Meal12" name="Meal_B_Meal12" class="easyui-textbox" type="text" style="width:57px;"
                                                    ng-model="meallistB.meal12" data-options="fontsize:'12px'"> :
                                                <input id="id_input_Meal_Info_Meal_B_Meal13" name="Meal_B_Meal13" class="easyui-textbox" type="text" style="width:57px;"
                                                    ng-model="meallistB.meal13" data-options="fontsize:'12px'">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td style="font-size:12px;">
                                                <input id="id_input_Meal_Info_Meal_B_Meal14" name="Meal_B_Meal14" type="checkbox" ng-model="meallistB.meal14" ng-true-value="'放警衛室'"
                                                    ng-false-value="''" value="放警衛室"> 放警衛室
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <input id="id_input_Meal_Info_Meal_B_Meal15" name="Meal_B_Meal15" class="easyui-textbox" ng-model="meallistB.meal15" type="text"
                                                    style="width:215px; height:76px;" data-options="multiline:true">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td id="td_C" bgcolor="#99FFFF">
                        <table width="870" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="290" height="20"></td>
                                <td width="290" height="20"></td>
                                <td width="290" height="20"></td>
                            </tr>
                            <tr valign="top">
                                <td>
                                    <table width="290" border="0" cellspacing="0" cellpadding="5">
                                        <tr>
                                            <td width="55" align="right" style="font-size:12px;">數量</td>
                                            <td width="215">
                                                <input id="id_input_Meal_Info_Meal_C_Meal01" name="Meal_C_Meal01" class="easyui-textbox" ng-model="meallistC.meal01" type="text"
                                                    style="width:215px;" data-options="fontsize:'12px'">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" style="font-size:12px;">手機</td>
                                            <td>
                                                <input id="id_input_Meal_Info_Meal_C_Meal02" name="Meal_C_Meal02" class="easyui-textbox" ng-model="meallistC.meal02" type="text"
                                                    style="width:215px;" data-options="fontsize:'12px'">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" style="font-size:12px;">地址</td>
                                            <td>
                                                <input id="id_input_Meal_Info_Meal_C_Meal03" name="Meal_C_Meal03" class="easyui-textbox" ng-change="delay(ChkAddress_onChange, 1000)"
                                                    ng-model="meallistC.meal03" type="text" style="width:215px;" data-options="fontsize:'12px'">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right">
                                                <span style="font-size:12px;">路線</span>
                                            </td>
                                            <td>
                                                <input id="id_input_Meal_Info_Meal_C_Meal04" name="Meal_C_Meal04" class="easyui-textbox" ng-model="meallistC.meal04" type="text"
                                                    style="width:215px;" data-options="fontsize:'12px',chkfieldid:'id_input_Meal_Info_Meal_C_Meal03',onChange:ChkRoute_onChange,url:'/info/normaldb/selecttable.jsp?fieldname=ID,RouteNumber,Address&tablename=Route&where=Flag=9&orderby=RouteNumber'">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" style="font-size:12px;">調理內容</td>
                                            <td>
                                                <input id="id_input_Meal_Info_Meal_C_Meal05" name="Meal_C_Meal05" class="easyui-textbox" ng-model="meallistC.meal05" type="text"
                                                    style="width:215px;" data-options="fontsize:'12px'">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" style="font-size:12px;">禁忌</td>
                                            <td>
                                                <input id="Meal_C_Meal06" name="Meal_C_Meal06" class="easyui-combotree" type="text" style="width:215px;">
                                            </td>
                                        </tr>
                                    </table>
                                    <div style="position:relative;font-weight:bold;left:8px;top:-198px;width:30px;">晚
                                        <br>
                                        <a id="div_DelC" href="javascript:void(0)" class="easyui-linkbutton" style="display:none" onClick="SaveMealForm('C');">刪
                                            <br>除</a>
                                    </div>
                                </td>
                                <td>
                                    <table width="290" border="0" cellspacing="0" cellpadding="5">
                                        <tr>
                                            <td width="55" align="right">
                                                <span style="font-size:12px;">加減</span>
                                            </td>
                                            <td>
                                                <input id="Meal_C_Meal07" name="Meal_C_Meal07" class="easyui-combobox" type="text" style="width:215px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right">
                                                <span style="font-size:12px;">換飲</span>
                                            </td>
                                            <td width="215">
                                                <input id="Meal_C_Meal08" name="Meal_C_Meal08" class="easyui-combobox" type="text" style="width:215px;">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table width="290" border="0" cellspacing="0" cellpadding="5">
                                        <tr>
                                            <td width="55" align="right" style="font-size:12px;">收款</td>
                                            <td width="215" style="font-size:12px;">
                                                <input id="id_input_Meal_Info_Meal_C_Meal09" name="Meal_C_Meal09" type="checkbox" ng-model="meallistC.meal09" ng-true-value="'收款'"
                                                    ng-false-value="''" value="收款"> 現金
                                                <input id="id_input_Meal_Info_Meal_C_Meal10" name="Meal_C_Meal10" class="easyui-textbox" type="text" style="width:130px;"
                                                    ng-model="meallistC.meal10" data-options="fontsize:'12px'"> 元
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" valign="top">
                                                <div style="padding-top:3px;font-size:12px;">備註</div>
                                            </td>
                                            <td style="font-size:12px;">
                                                <input id="id_input_Meal_Info_Meal_C_Meal11" name="Meal_C_Meal11" type="checkbox" ng-model="meallistC.meal11" ng-true-value="'提前到'"
                                                    ng-false-value="''" value="提前到"> 提前到
                                                <input id="id_input_Meal_Info_Meal_C_Meal12" name="Meal_C_Meal12" class="easyui-textbox" type="text" style="width:57px;"
                                                    ng-model="meallistC.meal12" data-options="fontsize:'12px'"> :
                                                <input id="id_input_Meal_Info_Meal_C_Meal13" name="Meal_C_Meal13" class="easyui-textbox" type="text" style="width:57px;"
                                                    ng-model="meallistC.meal13" data-options="fontsize:'12px'">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td style="font-size:12px;">
                                                <input id="id_input_Meal_Info_Meal_C_Meal14" name="Meal_C_Meal14" type="checkbox" ng-model="meallistC.meal14" ng-true-value="'放警衛室'"
                                                    ng-false-value="''" value="放警衛室"> 放警衛室
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <input id="id_input_Meal_Info_Meal_C_Meal15" name="Meal_C_Meal15" class="easyui-textbox" ng-model="meallistC.meal15" type="text"
                                                    style="width:215px; height:76px;" data-options="multiline:true">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>

    </tr>
</table>