<div class="layout">
    <table id="example" class="display" border="0" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th>商品編號</th>
                <th>商品名稱</th>
                <th>分類</th>
                <th>顏色</th>
                <th>售價</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ZA00102</td>
                <td>創意筆捲行李牌-藍色</td>
                <td>旅行小物</td>
                <td>blue</td>
                <td class="center">280</td>
            </tr>
            <tr>
                <td>ZA00102</td>
                <td>創意筆捲行李牌-藍色</td>
                <td>旅行小物</td>
                <td>blue</td>
                <td class="center">280</td>
            </tr>
            <tr>
                <td>ZA00102</td>
                <td>創意筆捲行李牌-藍色</td>
                <td>旅行小物</td>
                <td>blue</td>
                <td class="center">280</td>
            </tr>
            <tr>
                <td>ZA00102</td>
                <td>創意筆捲行李牌-藍色</td>
                <td>旅行小物</td>
                <td>blue</td>
                <td class="center">280</td>
            </tr>
            <tr>
                <td>ZA00102</td>
                <td>創意筆捲行李牌-藍色</td>
                <td>旅行小物</td>
                <td>blue</td>
                <td class="center">280</td>
            </tr>
            <tr>
                <td>ZA00102</td>
                <td>創意筆捲行李牌-藍色</td>
                <td>旅行小物</td>
                <td>blue</td>
                <td class="center">280</td>
            </tr>
            <tr>
                <td>ZA00102</td>
                <td>創意筆捲行李牌-藍色</td>
                <td>旅行小物</td>
                <td>blue</td>
                <td class="center">280</td>
            </tr>
            <tr>
                <td>ZA00102</td>
                <td>創意筆捲行李牌-藍色</td>
                <td>旅行小物</td>
                <td>blue</td>
                <td class="center">280</td>
            </tr>
            <tr>
                <td>ZA00102</td>
                <td>創意筆捲行李牌-藍色</td>
                <td>旅行小物</td>
                <td>blue</td>
                <td class="center">280</td>
            </tr>
            <tr>
                <td>ZA00102</td>
                <td>創意筆捲行李牌-藍色</td>
                <td>旅行小物</td>
                <td>blue</td>
                <td class="center">280</td>
            </tr>
            <tr>
                <td>ZA00102</td>
                <td>創意筆捲行李牌-藍色</td>
                <td>旅行小物</td>
                <td>blue</td>
                <td class="center">280</td>
            </tr>
            <tr>
                <td>ZA00102</td>
                <td>創意筆捲行李牌-藍色</td>
                <td>旅行小物</td>
                <td>blue</td>
                <td class="center">280</td>
            </tr>
            <tr>
                <td>ZA00102</td>
                <td>創意筆捲行李牌-藍色</td>
                <td>旅行小物</td>
                <td>blue</td>
                <td class="center">280</td>
            </tr>
            <tr>
                <td>ZA00102</td>
                <td>創意筆捲行李牌-藍色</td>
                <td>旅行小物</td>
                <td>blue</td>
                <td class="center">280</td>
            </tr>
            <tr>
                <td>ZA00102</td>
                <td>創意筆捲行李牌-藍色</td>
                <td>旅行小物</td>
                <td>blue</td>
                <td class="center">280</td>
            </tr>
            <tr>
                <td>ZA00102</td>
                <td>創意筆捲行李牌-藍色</td>
                <td>旅行小物</td>
                <td>blue</td>
                <td class="center">280</td>
            </tr>
            <tr>
                <td>ZA00102</td>
                <td>創意筆捲行李牌-藍色</td>
                <td>旅行小物</td>
                <td>blue</td>
                <td class="center">280</td>
            </tr>
            <tr>
                <td>ZA00102</td>
                <td>創意筆捲行李牌-藍色</td>
                <td>旅行小物</td>
                <td>blue</td>
                <td class="center">280</td>
            </tr>
            <tr>
                <td>ZA00102</td>
                <td>創意筆捲行李牌-藍色</td>
                <td>旅行小物</td>
                <td>blue</td>
                <td class="center">280</td>
            </tr>
            <tr>
                <td>ZA00102</td>
                <td>創意筆捲行李牌-藍色</td>
                <td>旅行小物</td>
                <td>blue</td>
                <td class="center">280</td>
            </tr>
            <tr>
                <td>ZA00102</td>
                <td>創意筆捲行李牌-藍色</td>
                <td>旅行小物</td>
                <td>blue</td>
                <td class="center">280</td>
            </tr>
            <tr>
                <td>ZA00103</td>
                <td>創意筆捲行李牌-黃色</td>
                <td>旅行小物</td>
                <td class="center">yellow</td>
                <td class="center">280</td>
            </tr>
        </tbody>
    </table>
</div>