<!DOCTYPE html>
<html>

<head>
  <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
  <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
  <META NAME="ROBOTS" CONTENT="NONE">
  <META NAME="GOOGLEBOT" CONTENT="NOARCHIVE">
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <a href="/">
    <%= content %>
  </a>
</body>

</html>